@import '../../App.scss';

.widget-container {
    width: 310px;
    color: $secondary-color;
    height: 30px;
    border: solid 2px black;
    display: flex;
    margin-top: 8vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
}
