.logo-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    margin: 40px;
    height: 100px;
    border: 5px solid;
    box-shadow: 12px 12px 2px 1px #976097;

    .icon {
        font-size: 50px;
        margin-bottom: 10px;
    }

    &:hover {
        font-size: larger;
        animation: wiggle 2s ease;
    }

    /* Responsive styles */
    @media (max-width: 768px) {
        padding: 7px;
        width: 45px;
        height: auto;
        font-size: 10px;
        margin: 15px;
        border: 3px solid;
        // box-shadow: none;

        .icon {
            font-size: 15px;
        }

        &:hover {
            font-size: 10px;
            animation: wiggle 2s ease;
        }
    }
}

.bounce-in {
    animation: bounce-in 2s ease;
  }
  @keyframes bounce-in {
    0% {
      opacity: 0;
      transform: scale(.3);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
    70% { transform: scale(.9); }
    100% { transform: scale(1); }
  }
  