.conatiner {
    width: fit-content !important;
}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Responsive styles */
    @media (max-width: 768px) {
        padding-left: 10px;
    }
}
.flex-mobile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;

    /* Responsive styles */
    @media (max-width: 768px) {
        flex-direction: row;
        align-items: center;
    }
}
