.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    padding-top: 50vh;

    /* Responsive styles */
    @media (max-width: 768px) {
        padding-top: 880px;
    }

    .text-zone{
        text-align: center;
    }
}
.flex-mobile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;

    /* Responsive styles */
    @media (max-width: 768px) {
        flex-direction: row;
        align-items: center;
    }
}

.facts{
    padding-top: 50px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    li{
        list-style-image: url('../../assets/images/heart.svg');
        padding-bottom: 20px;
     }

     .fact-pictures-section{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
        gap: 20px;
        
        .fact-pic{
           display: flex;
           align-items: center;
           justify-content: space-around;
            height: 150px;
            padding-bottom: 2px;
        }

        /* Responsive styles */
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
        
     }
}

.video-container{
    width: 50%;
    height: auto;
    margin-bottom: 50px;
    /* Responsive styles */
    @media (max-width: 768px) {
        width: 100%;
    }

}
