.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #181818;
    padding: 0 20px;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    .logo-container {
        display: flex;
        align-items: center;

        .logo {
            width: 30px;
            height: auto;
        }
    }

    .menu-toggle {
        display: none; /* Hidden on larger screens */
        font-size: 1.5rem;
        color: #fff;
        background: none;
        border: none;
        cursor: pointer;
    }

    .nav-links {
        display: flex;
        column-gap: 20px;

        .nav-link {
            color: #ccc;
            display: flex;
            align-items: center;
            font-size: 16px;
            text-decoration: none;
            padding: 10px;

            &:hover {
                color: #fff;
            }

            .nav-icon {
                margin-right: 8px;
            }

            .nav-text {
                display: inline; /* Text is visible on larger screens */
            }
        }
    }

    .profile-icons {
        display: flex;
        align-items: center;
        margin-right: 50px;
        gap: 15px;

        .social-link {
            color: #ccc;
            font-size: 20px;

            &:hover {
                color: #976097;
            }
        }
    }
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Show the hamburger menu on smaller screens */
    }

    .nav-links {
        .nav-link {
            flex-direction: column; /* Align icons vertically for mobile */
            .nav-text {
                display: none; /* Hide text on mobile */
            }
            .nav-icon {
                font-size: 1.2rem;
            }
        }
    }

    .profile-icons {
        display: none; /* Hide profile icons on mobile */
    }
}
