.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #181818;
    padding: 0 20px;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    .logo-container {
        display: flex;
        align-items: center;

        .logo {
            width: 30px;
            height: auto;
            margin-top: -6px;
        }
    }
    .theme-icon{

        height: 25px;
        padding: 3px;
        margin-top: -1px;
        border: 1px solid black;
        
        &:hover{
            border: 1px solid;
            border-radius: 50%;
        }
    }

    .nav-links {
        display: flex;
        column-gap: 20px;

        .nav-link {
            color: #ccc;
            display: flex;
            align-items: center;
            font-size: 16px;
            text-decoration: none;
            padding: 10px;

            &:hover {
                color: #976097;
            }

            .nav-icon {
                margin-right: 8px;
            }

            .nav-text {
                display: inline; /* Text is visible on larger screens */
            }
        }
    }

    .profile-icons {
        display: flex;
        align-items: center;
        margin-right: 50px;
        gap: 15px;

        .social-link {
            color: #ccc;
            font-size: 20px;

            &:hover {
                color: #976097;
            }
        }
    }
}

@media (max-width: 768px) {
    .social-link{
        margin-top: 8px;
        font-size: 1.5rem !important;
    }

    .nav-links {
        .nav-link {
            .nav-text {
                display: none !important; /* Hide text on mobile */
            }
            .nav-icon {
                font-size: 1.3rem !important;
            }
        }
    }
}
